* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Kode Mono", monospace;
    font-size: 100%;
    background: rgb(245, 242, 242);
}

img:hover {
    filter: grayscale(0%);
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1vh 1vw;
    position: fixed;
    background-color: #0f0f0f;
    width: 100%;
    height: 7vh;
    top: 0;
    z-index: 10;
}

#nav-icon {
    width: 6vh;
    height: 6vh;
    margin-right: 1vw;
}

#hero {
    background-image: url("./Images/imperial-war-museum.jpg");
    background-size: cover;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 3vh 3vw;
    box-sizing: border-box;
    margin-top: 7vh;
    
}

h1 {
    color: #FAA9AA;
    text-shadow: 0.2vw 0.2vw 0.2vw #0f0f0f;
    font-size: 12vw;    
    line-height: 1.2;
    margin: 0;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0f0f0f;
}

#stretford-intro {
    display: flex;
    flex-direction: column;
    padding: 4vh 3vw;
    gap: 4vh;
}

#stretford-intro p {
    font-size: 3vw;
    max-width: 100%;
    flex-grow: 1;
    min-height: 15vh;
}

#image-flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vw;
    flex-grow: 1;
}

.intro-images {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
}

#highlights {
    background: #FAA9AA;
    padding: 2vh 3vw;
}

h2 {
    color: #0f0f0f;
    font-size: 7vw;
    margin-bottom: 2vh;
}

#highlights-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
}

.highlight-item {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.highlight-images {
    filter: grayscale(100%);
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border-radius: 10px;
}

#highlights-item p {
    font-size: 4vw;
    margin: 0;
}

#stretfordian-container {
    background: rgb(175, 174, 174);
    padding: 2vh 3vw;
    text-align: center;
    padding-bottom: 12vh;
}

#stretfordian-container h2 {
    margin-bottom: 1vh;
}

#stretfordian-container p {
    color: #0f0f0f;
    font-size: 3vw;
    margin-bottom: 2vh;
    padding: 0;
}

#stretfordians-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
}

.stretfordian-images {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    padding: 2vw;
}

.stretfordian-info p {
    font-size: 4vw;
    margin-top: 1vh;
}

#footer {
    background-color: #0f0f0f;
    width: 100%;
    height: 10vh;  /* Footer height */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#footer p {
    color: rgb(245, 242, 242);
    text-align: center;
    font-size: 3vw;
    margin: 0;
}




@media (min-width: 768px) {
    #hero {
        justify-content: start; 
        align-items: center;
        height: 50vh; 
    }

    h1 {
        font-size: 9vw;
    }
    #stretford-intro {
        flex-direction: row;
        align-items: stretch;
    }

    #stretford-intro p {
        font-size: 3vw;
        flex-grow: 1;
    }

    .intro-images {
        width: 20vw;
        height: 20vw;
    }

    #highlights-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    h2 {
        font-size: 8vw;
    }

    .highlight-item p {
        font-size: 2vw;
    }

    .highlight-images {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }

    #stretfordian-container {
        padding-bottom: 9vh;  /* Adjust padding for medium screens */
    }

    #stretfordians-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 3vh;
    }

    .stretfordian-images {
        width: 30vw; 
        height: 30vw; 
    }

    .stretfordian-info p {
        font-size: 3vw;
    }

    #footer {
        height: 8vh;  /* Slightly smaller height for tablets */
    }

    #footer p {
        font-size: 2vw;  /* Adjust font size for tablets */
    }
}

@media (min-width: 1200px) {
    #hero {
        justify-content: start;
        align-items: center; 
        height: 60vh;
    }
    h1 {
        font-size: 8vw;
    }

    #stretford-intro p {
        font-size: 3vw;
        flex-grow: 1;
    }

    .intro-images {
        width: 18vw;
        height: 18vw;
    }

    #highlights-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .highlight-item p {
        font-size: 2vw;
    }
    .highlight-images {
        max-height: 50vh;
    }

    #stretfordian-container {
        padding-bottom: 7vh;  /* Adjust padding for medium screens */
    }
    
    #stretfordians-grid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 3vh;
    }

    .stretfordian-images {
        width: 20vw; 
        height: 20vw;
    }

    .stretfordian-info p {
        font-size: 2vw; 
    }

    #stretfordian-container p {
        font-size: 2.5vw;
    }

    #footer {
        height: 6vh;  /* Even smaller height for large screens */
    }

    #footer p {
        font-size: 1.5vw;  /* Smaller font for larger screens */
    }
}


